@model Dost.Models.Dashboard

@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<style>
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 133px !important;
}   
</style>
@using (Html.BeginForm("UserDashboard", "User", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
<div class="content-body">
    <div class="container-fluid">
        <div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
            <h2 class="font-w600 title mb-2 mr-auto ">Dashboard</h2>

            <a href="javascript:void(0);" class="btn btn-secondary mb-2"><i class="las la-calendar scale5 mr-3"></i>Invite People</a>
        </div>
        <div class="row">
            <div class="col-xl-6 col-sm-6 m-t35">
                <div class="card card-coin">
                    <div class="card-body text-center">
                        <div class="mb-3 currency-icon pt-2" width="80" height="80" style="margin-left: 44%; background-color: #00ada3; font-family: initial; border: 1px solid white;">
                            <h1 class="text-black font-w600">₹</h1>
                        </div>
                        <h2 class="text-black mb-12 font-w600">Dost Wallet</h2>
                        <p class="mb-0 fs-14">

                        <p class="mb-0 fs-14"><span class="text-primary mr-1">Balance : ₹ </span> @ViewBag.TotalIncome</p>
                        <p class="mb-0 fs-14"><span class="text-success mr-1">Last Transaction : ₹  </span> @ViewBag.TotalAirDrop</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 m-t35">
                <div class="card card-coin">
                    <div class="card-body text-center">
                        <div class="mb-3 currency-icon pt-2" width="80" height="80" style="margin-left: 44%; background-color: #ffab2d; font-family: initial; border: 1px solid white;">
                            <h1 class="text-black font-w600">₹</h1>
                        </div>
                        <h2 class="text-black mb-2 font-w600">Coin Wallet</h2>
                        <p class="mb-0 fs-14">

                        <p class="mb-0 fs-14"><span class="text-primary mr-1">Balance : ₹ </span> @ViewBag.TotalIncome</p>
                        <p class="mb-0 fs-14"><span class="text-success mr-1">Last Airdrop : ₹  </span> @ViewBag.TotalAirDrop</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-xxl-8">
                <div class="card">
                    <div class="card-header border-0 flex-wrap pb-0">
                        <div class="mb-3">
                            <h4 class="fs-20 text-black">Community Statistic</h4>
                            @*<p class="mb-0 fs-12 text-black">Lorem ipsum dolor sit amet, consectetur</p>*@
                        </div>
                        <div class="d-flex flex-wrap mb-2">
                            <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck9">
                                <label class="custom-control-label" for="customCheck9">
                                    <span class="d-block  font-w500 mt-2">Reseller</span>
                                </label>
                            </div>
                            <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck91">
                                <label class="custom-control-label" for="customCheck91">
                                    <span class="d-block  font-w500 mt-2">Catalyst</span>
                                </label>
                            </div>
                            <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck92">
                                <label class="custom-control-label" for="customCheck92">
                                    <span class="d-block font-w500 mt-2">Blaze</span>
                                </label>
                            </div>
                            <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck93">
                                <label class="custom-control-label" for="customCheck93">
                                    <span class="d-block font-w500 mt-2">Maverick</span>
                                </label>
                            </div>
                            <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck94">
                                <label class="custom-control-label" for="customCheck94">
                                    <span class="d-block font-w500 mt-2">Symphony</span>
                                </label>
                            </div>
                            <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck95">
                                <label class="custom-control-label" for="customCheck95">
                                    <span class="d-block font-w500 mt-2">Phoenix</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2 px-3">
                        <div id="marketChart" class="market-line"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-4">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <h4 class="fs-20 text-black">Current Statistic</h4>
                    </div>
                    <div class="card-body pb-0">
                        <div id="currentChart" class="current-chart"></div>
                        <div class="chart-content">
                            <div class="d-flex justify-content-between mb-2 align-items-center">
                                <div>
                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="15" rx="7.5" fill="#EB8153" />
                                    </svg>
                                    <span class="fs-14">Reseller (0%)</span>
                                </div>
                                <div>
                                    <h5 class="mb-0">₹ 0</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-2 align-items-center">
                                <div>
                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="15" rx="7.5" fill="#71B945" />
                                    </svg>

                                    <span class="fs-14">Catalyst (0%)</span>
                                </div>
                                <div>
                                    <h5 class="mb-0">₹ 0</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-2 align-items-center">
                                <div>
                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="15" rx="7.5" fill="#71B945" />
                                    </svg>

                                    <span class="fs-14">Blaze (50%)</span>
                                </div>
                                <div>
                                    <h5 class="mb-0">₹ 0</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-2 align-items-center">
                                <div>
                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="15" rx="7.5" fill="#4A8CDA" />
                                    </svg>
                                    <span class="fs-14">Maverick (0%)</span>
                                </div>
                                <div>
                                    <h5 class="mb-0">₹ 0</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-2 align-items-center">
                                <div>
                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="15" rx="7.5" fill="#6647BF" />
                                    </svg>
                                    <span class="fs-14">Symphony (0%)</span>
                                </div>
                                <div>
                                    <h5 class="mb-0">₹ 0</h5>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-2 align-items-center">
                                <div>
                                    <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="15" height="15" rx="7.5" fill="#6647BF" />
                                    </svg>
                                    <span class="fs-14">Phoenix (0%)</span>
                                </div>
                                <div>
                                    <h5 class="mb-0">₹ 0</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card-bx stacked card">
                            <img src="/images/card/card1.jpg" alt="">
                            <div class="card-info">
                                <p class="mb-1 text-white fs-14">Catalyst</p>
                                <span class="fs-12 mb-1 op6">INCOME</span>
                                <div class="d-flex justify-content-between">
                                    <h2 class="num-text text-white mb-5 font-w600">₹ 0</h2>
                                    <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color: #fffefe54; width: 60px; height: 60px">
                                        <span class="num-text text-white mb-5 font-w400">C</span>
                                    </div>

                                </div>
                                <div class="d-flex">
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6">MEMBER SINCE</p>
                                        <span>08/12/2015</span>
                                    </div>
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6 ">TARGET</p>
                                        <span>25,000</span>
                                    </div>
                                    <div class="text-white">
                                        <p class="fs-12 mb-1 op6">CARD HOLDER</p>
                                        <span>Marquezz Silalahi</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-bx stacked card">
                            <img src="/images/card/card2.jpg" alt="">
                            <div class="card-info">
                                <p class="fs-14 mb-1 text-white">Blaze</p>
                                <span class="fs-12 mb-1 op6 text-white">POSSIBLE INCOME</span>
                                <div class="d-flex justify-content-between">
                                    <h2 class="num-text text-white mb-5 font-w600">₹ 0</h2>
                                    <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color: #fffefe54; width: 60px; height: 60px">
                                        <span class="num-text text-white mb-5 font-w400">B</span>
                                    </div>

                                </div>
                                <div class="d-flex">
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6">MEMBER SINCE</p>
                                        <span>NA</span>
                                    </div>
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6 ">BLAZE</p>
                                        <span>1</span>
                                    </div>
                                    <div class="text-white">
                                        <p class="fs-12 mb-1 op6">NEEDED</p>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-bx stacked card">
                            <img src="/images/card/card3.jpg" alt="">
                            <div class="card-info">
                                <p class="mb-1 text-white fs-14">Maverick</p>
                                <span class="fs-12 mb-1 op6 text-white">POSSIBLE INCOME</span>
                                <div class="d-flex justify-content-between">
                                    <h2 class="num-text text-white mb-5 font-w600">₹ 0</h2>
                                    <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color: #fffefe54; width: 60px; height: 60px">
                                        <span class="num-text text-white mb-5 font-w400">M</span>
                                    </div>
                                    <!-- <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
                                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
                                    </svg> -->
                                </div>
                                <div class="d-flex">
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6">MEMBER SINCE</p>
                                        <span>NA</span>
                                    </div>
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6 ">BLAZE</p>
                                        <span>1</span>
                                    </div>
                                    <div class="text-white">
                                        <p class="fs-12 mb-1 op6">NEEDED</p>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-bx stacked card">
                            <img src="/images/card/card4.jpg" alt="">
                            <div class="card-info">
                                <p class="mb-1 text-white fs-14">Symphony</p>
                                <span class="fs-12 mb-1 op6 text-white">POSSIBLE INCOME</span>
                                <div class="d-flex justify-content-between">
                                    <h2 class="num-text text-white mb-5 font-w600">₹ 0</h2>
                                    <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color: #fffefe54; width: 60px; height: 60px">
                                        <span class="num-text text-white mb-5 font-w400">S</span>
                                    </div>
                                    <!-- <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
                                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
                                    </svg> -->
                                </div>
                                <div class="d-flex">
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6">MEMBER SINCE</p>
                                        <span>NA</span>
                                    </div>
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6 ">BLAZE</p>
                                        <span>3</span>
                                    </div>
                                    <div class="text-white">
                                        <p class="fs-12 mb-1 op6">NEEDED</p>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-bx stacked card">
                            <img src="~/images/card/card1.jpg" alt="">
                            <div class="card-info">
                                <p class="mb-1 text-white fs-14">Phoenix</p>
                                <span class="fs-12 mb-1 op6 text-white">POSSIBLE INCOME</span>
                                <div class="d-flex justify-content-between">
                                    <h2 class="num-text text-white mb-5 font-w600">₹ 0</h2>
                                    <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color: #fffefe54; width: 60px; height: 60px">
                                        <span class="num-text text-white mb-5 font-w400">P</span>
                                    </div>
                                    <!-- <svg width="55" height="34" viewBox="0 0 55 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="38.0091" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
                                        <circle cx="17.4636" cy="16.7788" r="16.7788" fill="white" fill-opacity="0.67"/>
                                    </svg> -->
                                </div>
                                <div class="d-flex">
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6">MEMBER SINCE</p>
                                        <span>NA</span>
                                    </div>
                                    <div class="mr-4 text-white">
                                        <p class="fs-12 mb-1 op6 ">BLAZE</p>
                                        <span>3</span>
                                    </div>
                                    <div class="text-white">
                                        <p class="fs-12 mb-1 op6">NEEDED</p>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header pb-2 d-block d-sm-flex flex-wrap border-0">
                            <div class="mb-3">
                                <h4 class="fs-20 text-black">Current Transaction</h4>
                                <p class="mb-0 fs-12">&nbsp;</p>
                            </div>
                         <div class="card-action card-tabs mb-3 style-1">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" herf="javascript:void(0)" onclick="return Activedatafelter('Monthly')"  id="TypeDate">
                                            Monthly
                                        </a>
                                    </li>
                                    <li class="nav-item" >
                                        <a class="nav-link"   herf="javascript:void(0)" onclick="return Activedatafelter('Weekly')" id="TypeDate" >
                                            Weekly
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  herf="javascript:void(0)" onclick="return Activedatafelter('Today')" id="TypeDate" >
                                            Today
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body tab-content p-0">
                            <div class="tab-pane active show fade" id="monthly">
                                <div class="table-responsive">
                                    <table class="table shadow-hover card-table border-no tbl-btn short-one" id="table1">

                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstewalletledger != null)
                                                {
                                                    int i = 1;
                                                    foreach (var Item in Model.lstewalletledger)
                                                    {
                                                        <tr>
                                                            @if (Item.DrAmount == "0")

                                                            {
                                                                <td>
                                                                    <span>
                                                                        <svg width="50" height="50" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <rect width="63" height="63" rx="14" fill="#71B945" />
                                                                            <path d="M40.6186 32.7207L40.6186 32.7207L40.6353 39.6289C40.6354 39.6328 40.6354 39.6363 40.6353 39.6396M40.6186 32.7207L40.1353 39.6341L40.6353 39.635C40.6353 39.6481 40.6347 39.6583 40.6345 39.6627L40.6344 39.6642C40.6346 39.6609 40.6351 39.652 40.6353 39.6407C40.6353 39.6403 40.6353 39.64 40.6353 39.6396M40.6186 32.7207C40.6167 31.9268 39.9717 31.2847 39.1777 31.2866C38.3838 31.2885 37.7417 31.9336 37.7436 32.7275L37.7436 32.7275L37.7519 36.1563M40.6186 32.7207L37.7519 36.1563M40.6353 39.6396C40.6329 40.4282 39.9931 41.0705 39.2017 41.0726C39.2 41.0726 39.1983 41.0727 39.1965 41.0727L39.1944 41.0727L39.1773 41.0726L32.2834 41.056L32.2846 40.556L32.2834 41.056C31.4897 41.054 30.8474 40.4091 30.8494 39.615C30.8513 38.8211 31.4964 38.179 32.2903 38.1809L32.2903 38.1809L35.719 38.1892L22.5364 25.0066C21.975 24.4452 21.975 23.5351 22.5364 22.9737C23.0978 22.4123 24.0079 22.4123 24.5693 22.9737L37.7519 36.1563M40.6353 39.6396C40.6353 39.6376 40.6353 39.6356 40.6353 39.6336L37.7519 36.1563M39.1964 41.0726C39.1957 41.0726 39.1951 41.0726 39.1944 41.0726L39.1964 41.0726Z" fill="white" stroke="white" />
                                                                        </svg>
                                                                    </span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <span>
                                                                        <svg width="50" height="50" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <rect width="63" height="63" rx="14" fill="#FF5757" />
                                                                            <path d="M22.1318 30.9043L22.1318 30.9043L22.1151 23.9961C22.1151 23.9922 22.1151 23.9887 22.1152 23.9854M22.1318 30.9043L22.6152 23.9909L22.1152 23.99C22.1152 23.9769 22.1157 23.9667 22.116 23.9623L22.1161 23.9608C22.1159 23.9641 22.1154 23.973 22.1152 23.9843C22.1152 23.9847 22.1152 23.985 22.1152 23.9854M22.1318 30.9043C22.1338 31.6982 22.7788 32.3403 23.5728 32.3384C24.3667 32.3365 25.0088 31.6914 25.0069 30.8975L25.0069 30.8975L24.9986 27.4687M22.1318 30.9043L24.9986 27.4687M22.1152 23.9854C22.1176 23.1968 22.7574 22.5545 23.5488 22.5524C23.5504 22.5524 23.5522 22.5523 23.554 22.5523L23.5561 22.5523L23.5732 22.5524L30.4671 22.569L30.4658 23.069L30.4671 22.569C31.2608 22.571 31.903 23.2159 31.9011 24.01C31.8992 24.8039 31.2541 25.446 30.4602 25.4441L30.4602 25.4441L27.0315 25.4358L40.2141 38.6184C40.7755 39.1798 40.7755 40.0899 40.2141 40.6513C39.6527 41.2127 38.7426 41.2127 38.1812 40.6513L24.9986 27.4687M22.1152 23.9854C22.1152 23.9874 22.1152 23.9894 22.1152 23.9914L24.9986 27.4687M23.5541 22.5524C23.5547 22.5524 23.5554 22.5524 23.5561 22.5524L23.5541 22.5524Z" fill="white" stroke="white" />
                                                                        </svg>
                                                                    </span>
                                                                </td>
                                                            }
                                                            <td class="wspace-no">
                                                                <span class="font-w600 text-black">&nbsp;</span>
                                                            </td>
                                                            @if (Item.DrAmount == "0")
                                                            {
                                                                <td>
                                                                    <span class="font-w600 text-black">₹  @Item.CrAmount</span>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <span class="font-w600 text-black">₹  @Item.DrAmount</span>
                                                                </td>
                                                            }
                                                            <td>
                                                                <span class="text-black">@Item.AddedOn</span>
                                                            </td>
                                                            <td><span class="float-right" href="javascript:void(0);">@Item.Narration</span></td>
                                                        </tr>


                                                    }
                                                    i = i + 1;
                                                }
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer border-0 p-0 caret mt-1">
                            <a href="/Wallet/Statement" class="btn-link"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 mt-2">
                    <div class="card">
                        <div class="card-header d-sm-flex d-block pb-0 border-0">
                            <div>
                                <h4 class="fs-20 text-black">Quick Transfer</h4>
                                @*<p class="mb-0 fs-12">Lorem ipsum dolor sit amet, consectetur</p>*@
                            </div>
                            <div class="dropdown custom-dropdown d-block mt-3 mt-sm-0 mb-0">
                                <div class="btn btn-light d-flex align-items-center svg-btn" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <span class="text-black fs-16">₹ @ViewBag.PayoutWalletBalance</span>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-wrapper">
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-prepend">
                                            <!-- <select class="input-group-text" id="sel1">
                                                <option>Amount INR</option>
                                                <option>Amount Dost Coin</option>
                                            </select> -->
                                            <button type="button" class="input-group-text">
                                                Amount INR
                                            </button>

                                        </div>
                                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);", @onchange = "return ShowDiv()" })
                                        &nbsp;&nbsp;
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @maxlength = "10", @Placeholder = "Mobile No", @onchange = "getmembernamefortransfer(this);", @onkeypress = "return isNumberKey(event);", @style = "display:none" })
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex mb-3 mt-3 justify-content-between align-items-center">
                                <h4 class="text-black fs-20 mb-0">Recent Contacts</h4>
                                @*<a href="javascript:void(0);" class="btn-link">View more</a>*@
                            </div>
                            <div class="testimonial-one px-4 owl-right-nav owl-carousel owl-loaded owl-drag">
                                @if (Model != null)
                                {
                                    if (Model.lstuser != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstuser)
                                        {
                                            <div class="items" onclick="return fillvalue(@Item.Mobile)">
                                                <div class="text-center">
                                                    <img class="mb-3 rounded" src="@Item.ProfilePic" alt="">
                                                    <h5 class="mb-0"><a class="text-black" href="javascript:void(0);">@Item.DisplayName</a></h5>
                                                    <span class="fs-12">@Item.Mobile</span>
                                                </div>
                                            </div>
                                            i = i + 1;
                                        }
                                    }
                                }


                            </div>
                            <div class="row pt-sm-5 pt-3 align-items-center">
                                <div class="col-sm-6 mb-sm-0 mb-3">
                                    <p class="mb-0 fs-14">&nbsp;</p>
                                </div>
                                <div class="col-sm-6">
                                    <input class="btn btn-secondary d-block btn-lg float-right" onclick="return validateformTransfer()" type="submit" value="TRANSFER NOW" id="btnTransfer" name="btnTransfer" />
                                    @*<a href="javascript:void(0);" class="btn btn-secondary d-block btn-lg" onclick="return validateformTransfer()" type="submit" value="Transfer" id="btnTransfer" name="btnTransfer">TRANSFER NOW</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
}
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #3b3363 !important;
    }
</style>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

@if (TempData["Ewallet"] != null)
{
    if (TempData["Wallet"] == "Yes")
    {
        <script>

            $(document).ready(function () {
                toastr.success("@TempData["Ewallet"]", "success", {
                    positionClass: "toast-top-right",
                    timeOut: 5e3,
                    closeButton: !0,
                    debug: !1,
                    newestOnTop: !0,
                    progressBar: !0,
                    preventDuplicates: !0,
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: !1
                })
            }
        )
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                toastr.error("@TempData["Ewallet"]", "error", {
                    positionClass: "toast-top-right",
                    timeOut: 5e3,
                    closeButton: !0,
                    debug: !1,
                    newestOnTop: !0,
                    progressBar: !0,
                    preventDuplicates: !0,
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: !1
                })
            }
        )
        </script>
    }
}

<script>
    function ShowDiv()
    {
        $('#Mobile').show();
    }
    function fillvalue(evt) {
        $('#Mobile').val(evt);
        $('#Mobile').show();
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function getmembernamefortransfer() {
        var MobileNo = $('#Mobile').val();
        $.ajax({
            url: '/Wallet/GetMemberNameByMobileNo',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: MobileNo },
            success: function (data) {
                if (data.Result == "Yes") {
                    //$('#txtname').html(data.DisplayName);
                    //divname.style.display = "block";
                } else {
                    $(document).ready(function () {
                        toastr.error("Invalid Login Id ", "Top Right", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                )
                    //$('#txtname').html("");
                    $('#Mobile').val("");

                }
            }
        });
    }
    function validateformTransfer() {
        debugger
        $(".errortext").removeClass("errortext");
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#Amount').val() == '0') {
            $('#Amount').val('');
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
    }

    function Activedatafelter(TypeDate) {
        debugger
        $.ajax({
            url: '/User/ApplyFiterForWalletActivity',
            type: "GET",
            dataType: "JSON",
            data: {TypeDate: TypeDate },
            success: function (data) {
                debugger;
                $("#table1").html('');
                if (data.Result == "Yes")
                {
                    debugger
                    if (data.lstewalletledger != null)
                    {
                        debugger
                        for (var i = 0 ; i < data.lstewalletledger.length; i++) {
                            debugger;
                            if (data.lstewalletledger[i].DrAmount == '0') {
                                $("#table1").append("<tr><td><span><svg width='50' height='50' viewBox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='63' height='63' rx='14' fill='#71B945' /><path d='M40.6186 32.7207L40.6186 32.7207L40.6353 39.6289C40.6354 39.6328 40.6354 39.6363 40.6353 39.6396M40.6186 32.7207L40.1353 39.6341L40.6353 39.635C40.6353 39.6481 40.6347 39.6583 40.6345 39.6627L40.6344 39.6642C40.6346 39.6609 40.6351 39.652 40.6353 39.6407C40.6353 39.6403 40.6353 39.64 40.6353 39.6396M40.6186 32.7207C40.6167 31.9268 39.9717 31.2847 39.1777 31.2866C38.3838 31.2885 37.7417 31.9336 37.7436 32.7275L37.7436 32.7275L37.7519 36.1563M40.6186 32.7207L37.7519 36.1563M40.6353 39.6396C40.6329 40.4282 39.9931 41.0705 39.2017 41.0726C39.2 41.0726 39.1983 41.0727 39.1965 41.0727L39.1944 41.0727L39.1773 41.0726L32.2834 41.056L32.2846 40.556L32.2834 41.056C31.4897 41.054 30.8474 40.4091 30.8494 39.615C30.8513 38.8211 31.4964 38.179 32.2903 38.1809L32.2903 38.1809L35.719 38.1892L22.5364 25.0066C21.975 24.4452 21.975 23.5351 22.5364 22.9737C23.0978 22.4123 24.0079 22.4123 24.5693 22.9737L37.7519 36.1563M40.6353 39.6396C40.6353 39.6376 40.6353 39.6356 40.6353 39.6336L37.7519 36.1563M39.1964 41.0726C39.1957 41.0726 39.1951 41.0726 39.1944 41.0726L39.1964 41.0726Z' fill='white' stroke='white' /></svg></span></td><td class='wspace-no'><span class='font-w600 text-black'>&nbsp;</span></td><td><span class='font-w600 text-black'>" + data.lstewalletledger[i].CrAmount + "</span></td><td><span class='font-w600 text-black'>" + data.lstewalletledger[i].DrAmount + "</span></td> <td><span class='text-black'>" + data.lstewalletledger[i].AddedOn + "</span></td><td><span class='float-right' href='javascript:void(0);'>" + data.lstewalletledger[i].Narration + "</span></td></tr>");
                            }
                            else {
                                $("#table1").append("<tr><td><span><svg width='50' height='50' viewBox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='63' height='63' rx='14' fill='#FF5757' /><path d='M22.1318 30.9043L22.1318 30.9043L22.1151 23.9961C22.1151 23.9922 22.1151 23.9887 22.1152 23.9854M22.1318 30.9043L22.6152 23.9909L22.1152 23.99C22.1152 23.9769 22.1157 23.9667 22.116 23.9623L22.1161 23.9608C22.1159 23.9641 22.1154 23.973 22.1152 23.9843C22.1152 23.9847 22.1152 23.985 22.1152 23.9854M22.1318 30.9043C22.1338 31.6982 22.7788 32.3403 23.5728 32.3384C24.3667 32.3365 25.0088 31.6914 25.0069 30.8975L25.0069 30.8975L24.9986 27.4687M22.1318 30.9043L24.9986 27.4687M22.1152 23.9854C22.1176 23.1968 22.7574 22.5545 23.5488 22.5524C23.5504 22.5524 23.5522 22.5523 23.554 22.5523L23.5561 22.5523L23.5732 22.5524L30.4671 22.569L30.4658 23.069L30.4671 22.569C31.2608 22.571 31.903 23.2159 31.9011 24.01C31.8992 24.8039 31.2541 25.446 30.4602 25.4441L30.4602 25.4441L27.0315 25.4358L40.2141 38.6184C40.7755 39.1798 40.7755 40.0899 40.2141 40.6513C39.6527 41.2127 38.7426 41.2127 38.1812 40.6513L24.9986 27.4687M22.1152 23.9854C22.1152 23.9874 22.1152 23.9894 22.1152 23.9914L24.9986 27.4687M23.5541 22.5524C23.5547 22.5524 23.5554 22.5524 23.5561 22.5524L23.5541 22.5524Z' fill='white' stroke='white' /></svg></span></td><td class='wspace-no'><span class='font-w600 text-black'>&nbsp;</span></td><td><span class='font-w600 text-black'>" + data.lstewalletledger[i].CrAmount + "</span></td><td><span class='font-w600 text-black'>" + data.lstewalletledger[i].DrAmount + "</span></td> <td><span class='text-black'>" + data.lstewalletledger[i].AddedOn + "</span></td><td><span class='float-right' href='javascript:void(0);'>" + data.lstewalletledger[i].Narration + "</span></td></tr>");
                            }

                        }
                    }
                }
                else
                {
                    alert("No Record Found");
                }
             
                //else {
                //    $("#First_NM").val('');
                //    $("#Pan_Card").val('');
                //    $("#DOB_Dt").val('');
                //    $("#Pan_Card").addClass('errortext');

                //    alert(data.Result);

                //}


            }
        });
    }

</script>


