@model Dost.Models.Profile

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="content-body">
        <div class="container-fluid">
            <!-- Add Project -->

            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, welcome back!</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">User/Profile</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">PERSONAL DETAILS <span class="text-danger">@TempData["UpdateProfile"]</span></h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-4 col-lg-4 form-group">
                                        <div class="mb-3">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            @if (Model.LastName != "")
                                                {
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @disabled = "disabled" })
                                                }
                                                else
                                                {

                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                }
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 form-group">
                                        <div class="mb-3">
                                            <label>Middle Name <span class="text-danger">*</span></label>
                                            @if (Model.MiddleName != "")
                                            {


                                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @disabled = "disabled" })
                                            }
                                            else
                                            {

                                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                            }
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 form-group">
                                        <div class="mb-3">
                                            <label>Last Name</label>

                                            @if (Model.LastName != "")
                                                {

                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @disabled = "disabled" })
                                                }
                                                else
                                                {


                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            
                                                }
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Mobile Number <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @disabled = "disabled" })
                                          
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Email </label>
                                            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Sponsor Id </label>
                                            @Html.TextBoxFor(m => m.SponsorId, new { @class = "form-control", @disabled = "disabled" })
                                           
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Sponsor Name</label>
                                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @disabled = "disabled" })
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 text-center">
                                        <input type="submit" id="btnUpdate" class="btn btn-primary mb-2 px-5" name="btnUpdate" value="Update" onclick="return editPersonal()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">BANK DETAILS</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>IFSC</label>
                                            @Html.TextBoxFor(m => m.IFSC, new { @class = "form-control"})
                                     
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Bank Name</label>
                                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control"})
                                      
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Branch Name</label>
                                            @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control" })
                                      
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Account Number</label>
                                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Account Holder Name</label>
                                            @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control"})
                                        
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Passbook / Cheque Image*</label>
                                            <input type="file"  name="postedCheque" id="postedCheque" class="form-control" placeholder="PassBook Image">
                                            <br />
                                            <img src="@Url.Content(Model.DocumentImage)" height="120" width="180" />
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 text-center">
                                     
                                        <input type="submit" id="btnBankUpdate" class="btn btn-primary mb-2 px-5" name="btnBankUpdate" value="Update" onclick="return editBankDetails()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">UPLOAD KYC</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Adhar Number </label>
                                            @Html.TextBoxFor(m => m.AdharNo, new { @class = "form-control"})
                                            @Html.DisplayFor(m => m.AdharStatus, new { @class = "form-control" })
                                          
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Adhar Image</label>
                                            <input type="file" name="postedAadhar" class="form-control" />
                                            <br />
                                            <img src="@Url.Content(Model.AdharImage)" height="120" width="180" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Pan Number</label>
                                            @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control"})
                                            @Html.DisplayFor(m => m.PanStatus, new { @class = "form-control" })
                                         
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6form-group">
                                        <div class="mb-3">
                                            <label>Pan Image</label>
                                            <input type="file" name="postedPan" class="form-control" />
                                            <br />
                                            <img src="@Url.Content(Model.PanImage)" height="120" width="180" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 text-center">
                                        <input type="submit" id="btnKYCUpdate" class="btn btn-primary mb-2 px-5" name="btnKYCUpdate" value="Update" onclick="return editKYCDetails()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Wallet Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>UPI Id</label>
                                            @Html.TextBoxFor(m => m.UPI, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.UPIStatus, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Paytm</label>
                                            @Html.TextBoxFor(m => m.Paytm, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.PaytmStatus, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>PhonePe</label>
                                            @Html.TextBoxFor(m => m.PhonePe, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.PhonePeStatus, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Google Pay</label>
                                            @Html.TextBoxFor(m => m.GooglePay, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.GooglePayStatus, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 text-center">
                                        <input type="submit" id="btnWalletUpdate" class="btn btn-primary mb-2 px-5" name="btnWalletUpdate" value="Update"/>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 text-center">
                                        <button type="submit" class="btn btn-primary mb-2 px-5">add more</button>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #3B3363 !important;
    }
</style>

<script>
    function editPersonal() {
        $(".errortext").removeClass("errortext");
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        return true;
    }
    function editBankDetails() {
        $(".errortext").removeClass("errortext");
        if ($('#IFSC').val() == '') {
            $("#IFSC").addClass('errortext');
            $('#IFSC').focus();
            return false;
        }
        if ($('#BankName').val() == '') {
            $("#BankName").addClass('errortext');
            $('#BankName').focus();
            return false;
        }
        if ($('#BankBranch').val() == '') {
            $("#BankBranch").addClass('errortext');
            $('#BankBranch').focus();
            return false;
        }
        if ($('#AccountNumber').val() == '') {
            $("#AccountNumber").addClass('errortext');
            $('#AccountNumber').focus();
            return false;
        }
        if ($('#AccountHolderName').val() == '') {
            $("#AccountHolderName").addClass('errortext');
            $('#AccountHolderName').focus();
            return false;
        }
        if ($('#postedPassbook').val() == '') {
            $("#postedPassbook").addClass('errortext');
            $('#postedPassbook').focus();
            return false;
        }
        return true;
    }
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    </script>