@model Dost.Models.Profile

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="content-body">
        <div class="container-fluid">
            <!-- Add Project -->

            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, welcome back!</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">User/Profile</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">PERSONAL DETAILS </h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-4 col-lg-4 form-group">
                                        <div class="mb-3">
                                            <label>First Name <span class="text-danger">*</span></label>
                                            @if (Model.LastName != "")
                                            {
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 form-group">
                                        <div class="mb-3">
                                            <label>Middle Name </label>
                                            @if (Model.MiddleName != "")
                                            {
                                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                                            }
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 form-group">
                                        <div class="mb-3">
                                            <label>Last Name</label>

                                            @if (Model.LastName != "")
                                            {
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Mobile Number <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @disabled = "disabled" })

                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Email </label>
                                            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Sponsor Id </label>
                                            @Html.TextBoxFor(m => m.SponsorId, new { @class = "form-control", @disabled = "disabled" })

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Sponsor Name</label>
                                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @disabled = "disabled" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 text-center">
                                        <input type="submit" id="btnUpdate" class="btn btn-primary mb-2 px-5" name="btnUpdate" value="Update" onclick="return editPersonal()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">BANK DETAILS</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>IFSC</label>
                                            @Html.TextBoxFor(m => m.IFSC, new { @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Bank Name</label>
                                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Branch Name</label>
                                            @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Account Number</label>
                                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Account Holder Name</label>
                                            @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Passbook / Cheque Image*</label>
                                            <input type="file" name="postedCheque" id="postedCheque" class="form-control" placeholder="PassBook Image">
                                            <br />
                                            <img src="@Url.Content(Model.DocumentImage)" height="120" width="180" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 text-center">

                                        <input type="submit" id="btnBankUpdate" class="btn btn-primary mb-2 px-5" name="btnBankUpdate" value="Update" onclick="return editBankDetails()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">UPLOAD KYC</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">

                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Adhar Number </label>
                                            @Html.TextBoxFor(m => m.AdharNo, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.AdharStatus, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Adhar Image</label>
                                            <input type="file" name="postedAadhar" class="form-control" onchange="loadFile_adhar(event)"/>
                                            @*<img src="@Url.Content(Model.AdharImage)" height="120" width="180"  />*@

                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6">
                                        <div class="text-center mt-4">
                                            <img src="@Url.Content(Model.AdharImage)" height="120" width="180" data-toggle="modal" data-target="#AdharModalCenter" id="output_adhar" onclick="return getcarddetails()">
                                            <div class="modal fade" id="AdharModalCenter">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Adhar Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body text-left">

                                                            <div class="form-row ">
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Full Name</label>
                                                                        <input type="hidden" id="Fk_UserId" name="Fk_UserId" value="@Model.Fk_UserId" class="form-control" placeholder="Full Namer" />
                                                                        <input type="text" id="First_Name" name="FirstName" class="form-control" placeholder="Full Name">
                                                                    </div>
                                                                </div>

                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Father Name</label>
                                                                        <input type="text" name="FatherName" id="Father_Name" class="form-control" placeholder="Full Name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Year Of Birth</label>
                                                                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @Placeholder = "Year Of Birth", @readonly = "readonly", @id = "DOB_Date" })
                                                                        @*<input type="date" class="form-control" name="DOB" id="DOB_Date" placeholder="Year Of Birth">*@
                                                                    </div>
                                                                </div>

                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label class="mb-3">Gender</label><br>
                                                                        <label class="radio-inline mr-3">
                                                                            <input type="radio" name="Gender" id="Gender_Name" value="Male"> Male
                                                                        </label>
                                                                        <label class="radio-inline mr-3">
                                                                            <input type="radio" name="Gender" id="Gender_Name" value="Female"> Female
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row ">
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Mobile</label>
                                                                        <input type="text" name="Mobile" class="form-control" placeholder="Mobile Number" id="Mobile_No" maxlength="10">
                                                                    </div>
                                                                </div>

                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Email</label>
                                                                        <input type="email" name="Email" class="form-control" placeholder="Email" id="Email_ID">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row ">


                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Address</label>
                                                                        <input type="text" name="Address" class="form-control" placeholder="Address" id="Address_Name">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Pin Code</label>
                                                                        <input type="text" class="form-control" placeholder="Pin Code" name="Pincode" maxlength="6" id="Pin_code">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*<div class="form-row ">

                                                                </div>*@
                                                            <div class="form-row ">
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>नाम</label>
                                                                        <input type="text" name="NameH" class="form-control" placeholder="नाम" id="Name_H">
                                                                    </div>
                                                                </div>

                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>पिता का नाम</label>
                                                                        <input type="text" class="form-control" placeholder="पिता का नाम" name="FatherNameH" id="Father_NameH">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row ">
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>पता</label>
                                                                        <input type="text" class="form-control" placeholder="पता" name="AddressH" id="Address_H">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-lg-6 form-group">
                                                                    <div class="mb-1">
                                                                        <label>Adhar Number</label>
                                                                        <input type="text" class="form-control" placeholder="Card Number" name="CardNumber" id="Card_Number">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            @*<div class="col-md-6">
                                                                    @if (Model.Fk_UserId == null)
                                                                    {
                                                                        <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnRegistration" />
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.HiddenFor(m => m.UserID, new { @Value = @Model.Fk_UserId })
                                                                        <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                                                                    }
                                                                    <a class="btn btn-info" href="/User/UserProfile">Back To List</a>
                                                                </div>*@
                                                            <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                            <input type="submit" class="btn btn-primary" name="btnRegistration" value="Save" onclick="return validateAadharForm();">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="form-group">
                                            <label>Pan Number</label>
                                            @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.PanStatus, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Pan Image</label>
                                            <input type="file" name="postedPan" class="form-control" onchange="loadFile_pan(event)"/>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6">
                                        <div class="text-center mt-4">
                                            <img src="@Url.Content(Model.PanImage)" height="120" width="180" data-toggle="modal" data-target="#PanModalCenter" id="output_pan" onclick="return getcardpandetails()">
                                            @*<img src="@Url.Content(Model.PanImage)" height="120" width="180" data-toggle="modal" data-target="#PanModalCenter" id="output_pan">*@
                                            @*<img src="@Url.Content(Model.PanImage)" height="120" width="180" />*@
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="PanModalCenter">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">PAN Details</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-left">

                                                        <div class="form-row ">
                                                            <div class="col-xl-6 col-lg-6 form-group">
                                                                <div class="mb-1">
                                                                    <label>PAN Number</label>
                                                                    <input type="text" class="form-control" placeholder="PAN Number" name="Pan_Number" id="Pan_Card">
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6 col-lg-6 form-group">
                                                                <div class="mb-1">
                                                                    <label>Name</label>
                                                                    <input type="hidden" id="Fk_UserId" name="Fk_UserId" value="@Model.Fk_UserId" class="form-control" placeholder="Full Name" />
                                                                    <input type="text" id="First_NM" name="First_NM" class="form-control" placeholder="Full Name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-xl-6 col-lg-6 form-group">
                                                                <div class="mb-1">
                                                                    <label>Year Of Birth</label>
                                                                    <input type="text" class="form-control" placeholder="Date of Birth" id="DOB_Dt" readonly="True" name="DOB_ID" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-primary" name="btnpanupdate" value="Save" onclick="return validatePanForm();" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*</div>

                                    </div>


                                            </div>*@

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 text-center">
                                        <input type="submit" id="btnKYCUpdate" class="btn btn-primary mb-2 px-5" name="btnKYCUpdate" value="Update" onclick="return editKYCDetails()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Wallet Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>UPI Id</label>
                                            @Html.TextBoxFor(m => m.UPI, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.UPIStatus, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Paytm</label>
                                            @Html.TextBoxFor(m => m.Paytm, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.PaytmStatus, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>PhonePe</label>
                                            @Html.TextBoxFor(m => m.PhonePe, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.PhonePeStatus, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 form-group">
                                        <div class="mb-3">
                                            <label>Google Pay</label>
                                            @Html.TextBoxFor(m => m.GooglePay, new { @class = "form-control" })
                                            @Html.DisplayFor(m => m.GooglePayStatus, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 text-center">
                                        <input type="submit" id="btnWalletUpdate" class="btn btn-primary mb-2 px-5" name="btnWalletUpdate" value="Update" />
                                    </div>
                                    <div class="col-xl-6 col-lg-6 text-center">
                                        <button type="submit" class="btn btn-primary mb-2 px-5">add more</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<style>

</style>
<script src="~/vendor/jquery/jquery.min.js"></script>
@if (TempData["UpdateProfile"] != null)
{
    if (TempData["Profile"] == "Yes")
    {
        <script>

            $(document).ready(function () {
                toastr.success("@TempData["UpdateProfile"]", "", {
                    positionClass: "toast-top-right",
                    timeOut: 5e3,
                    closeButton: !0,
                    debug: !1,
                    newestOnTop: !0,
                    progressBar: !0,
                    preventDuplicates: !0,
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: !1
                })
            }
        )
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                toastr.error("@TempData["UpdateProfile"]", "Top Right", {
                    positionClass: "toast-top-right",
                    timeOut: 5e3,
                    closeButton: !0,
                    debug: !1,
                    newestOnTop: !0,
                    progressBar: !0,
                    preventDuplicates: !0,
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: !1
                })
            }
        )
        </script>
    }
}

<script>
    var loadFile_adhar = function (event) {
        var image = document.getElementById('output_adhar');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    var loadFile_pan = function (event) {
        var image = document.getElementById('output_pan');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    function editPersonal() {
        $(".errortext").removeClass("errortext");
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        return true;
    }
    function editBankDetails() {
        $(".errortext").removeClass("errortext");
        if ($('#IFSC').val() == '') {
            $("#IFSC").addClass('errortext');
            $('#IFSC').focus();
            return false;
        }
        if ($('#BankName').val() == '') {
            $("#BankName").addClass('errortext');
            $('#BankName').focus();
            return false;
        }
        if ($('#BankBranch').val() == '') {
            $("#BankBranch").addClass('errortext');
            $('#BankBranch').focus();
            return false;
        }
        if ($('#AccountNumber').val() == '') {
            $("#AccountNumber").addClass('errortext');
            $('#AccountNumber').focus();
            return false;
        }
        if ($('#AccountHolderName').val() == '') {
            $("#AccountHolderName").addClass('errortext');
            $('#AccountHolderName').focus();
            return false;
        }
        if ($('#postedPassbook').val() == '') {
            $("#postedPassbook").addClass('errortext');
            $('#postedPassbook').focus();
            return false;
        }
        return true;
    }
    function validateAadharForm() {
        debugger;
        $(".errortext").removeClass("errortext");
        if ($('#First_Name').val() == '') {
            $("#First_Name").addClass('errortext');
            $('#First_Name').focus();
            return false;
        }
        if ($('#Father_Name').val() == '') {
            $("#Father_Name").addClass('errortext');
            $('#Father_Name').focus();
            return false;
        }
        if ($('#DOB_Date').val() == '') {
            $("#DOB_Date").addClass('errortext');
            $('#DOB_Date').focus();
            return false;
        }
        if ($('input[name="Gender"]:checked').val() == '') {
            $('input[name="Gender"]').addClass('errortext');
            $('input[name="Gender"]').focus();
            return false;
        }
        if ($('#Mobile_No').val() == '') {
            $("#Mobile_No").addClass('errortext');
            $('#Mobile_No').focus();
            return false;
        }
        if ($('#Email_ID').val() == '') {
            $("#Email_ID").addClass('errortext');
            $('#Email_ID').focus();
            return false;
        }
        if ($('#Address_Name').val() == '') {
            $("#Address_Name").addClass('errortext');
            $('#Address_Name').focus();
            return false;
        }
        if ($('#Address_Name').val() == '') {
            $("#Address_Name").addClass('errortext');
            $('#Address_Name').focus();
            return false;
        }
        return true;
    }

    function validatePanForm() {
        debugger;
        $(".errortext").removeClass("errortext");
        if ($('#Pan_Card').val() == '') {
            $("#Pan_Card").addClass('errortext');
            $('#Pan_Card').focus();
            return false;
        }
        if ($('#First_NM').val() == '') {
            $("#First_NM").addClass('errortext');
            $('#First_NM').focus();
            return false;
        }
        if ($('#DOB_ID').val() == '') {
            $("#DOB_ID").addClass('errortext');
            $('#DOB_ID').focus();
            return false;
        }
        return true;
    }

    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    //$('#DOB').datepicker({
    //    dateFormat: 'dd/mm/yy',
    //    changeYear: true,
    //    changeMonth: true,
    //    yearRange: "1900:2021"
    //});
    //$('#DOB').datepicker({
    //    dateFormat: 'dd/mm/yy'
    //});
    function getcarddetails() {
        debugger
        var Fk_UserId = $('#Fk_UserId').val();
        $.ajax({
            url: '/User/GetCarrdDetails',
            type: "GET",
            dataType: "JSON",
            data: { FK_UserID: $("#Fk_UserId").val() },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $("#First_Name").val(data.FirstName);
                    $("#Gender_Name").val(data.Gender);
                    $("#Mobile_No").val(data.Mobile);
                    $("#Email_ID").val(data.Email);
                    $("#Father_Name").val(data.FatherName);
                    $("#Pin_code").val(data.Pincode);
                    $("#Address_Name").val(data.Address);
                    $("#DOB_Date").val(data.DOB);
                    $("#Name_H").val(data.NameH);
                    $("#Father_NameH").val(data.FatherNameH);
                    $("#Address_H").val(data.AddressH);
                    $("#Card_Number").val(data.CardNumber);

                }
                else {
                    $("#First_Name").val('');
                    $("#Gender").val('');
                    $("#Email").val('');
                    $("#Address").addClass('errortext');
                    $('#NameH').focus();

                    //alert(data.Result);

                }


            }
        });
    }

    function getcardpandetails() {
        debugger
        var Fk_UserId = $('#Fk_UserId').val();
        $.ajax({
            url: '/User/GetPanDetails',
            type: "GET",
            dataType: "JSON",
            data: { FK_UserID: $("#Fk_UserId").val() },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $("#First_NM").val(data.FirstName);
                    $("#Pan_Card").val(data.PanNumber);
                    $("#DOB_Dt").val(data.DOB);


                }
                else {
                    $("#First_NM").val('');
                    $("#Pan_Card").val('');
                    $("#DOB_Dt").val('');
                    $("#Pan_Card").addClass('errortext');

                    //alert(data.Result);

                }


            }
        });
    }

</script>
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>


    $('#DOB_Date').datepicker({
        dateFormat: 'dd/mm/yy'

    });
    $('#DOB_Dt').datepicker({
        dateFormat: 'dd/mm/yy'

    });
</script>