@model Dost.Models.Master

@{
    ViewBag.Title = "Banner";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Master
                </a>
            </li>
            <li class="active">
                Banner Master
            </li>

        </ol>
    </div>
</div>
<br />
 @using (Html.BeginForm("Banner", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
 {
    <span style="color: red">
        @TempData["BannerMsg"]
    </span>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Banner Master
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Banner Title <span style="color: red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.BannerTitle, new { @placeholder = "Banner Title", @class = "form-control" })
                                    @Html.HiddenFor(m => m.BannerId)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Trailer Link<span style="color: red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Trailer, new { @class = "form-control", @placeholder = "Trailer Link" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Banner Image</label>
                                <div class="col-sm-4">
                                    <input type="file" name="postedFile" id="Image" onclick="return hide();" />
                                </div>
                                @if (Model.BannerImage != null && Model.BannerImage != "")
                                {
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <img id="imagehide" src="@Url.Content(Model.BannerImage)" style="margin-left: 37%;width: 86px;" class="rounded-circle author-box-picture" sty="" />
                                        </div>
                                    </div>
                                    <input type="hidden" id="ImageHidden" value="@Model.BannerImage" />
                                }
                            </div>
                        </div>
                        <input type="hidden" id="ImageHidden" value="@Model.BannerImage" />

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 ">Is Add To Favorite</label>
                                <div class="col-sm-7">
                                    @*<input type="checkbox" name="IsAddFav" id="FavStatus"/>*@
                                    @Html.CheckBoxFor(m => m.IsAddFav, new { })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Description<span style="color: red">*</span></label>
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(m => m.Description, new { @placeholder = "Description", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                                <input type="submit" id="BtnBanner" class="btn btn-success" name="Banner" value="Submit" onclick="return validate();" />
                            <a class="btn btn-primary" href="/Master/BannerList">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="~/scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        //var x = document.getElementsByName("IsAddFav");
        //if (x == "true") {
        //    $('#FavStatus').prop('checked', true);
        //}
        //else {
        //    $('#FavStatus').prop('checked', false);
        //}
        if(@Model.BannerId=="" && @Model.BannerId==null)
        {
            $("#Trailer").val()=="";
            $("#Description").val()=="";
            $("#BannerTitle").val()=="";
        }
    });
    function validate() {

        $(".errortext").removeClass("errortext");
        if ($('#BannerTitle').val() == '') {
            $("#BannerTitle").addClass('errortext');
            $('#BannerTitle').focus();
            return false;
        }
        if ($('#Trailer').val() == '') {
            $("#Trailer").addClass('errortext');
            $('#Trailer').focus();
            return false;
        }
        //    if ($('#Image').val() == '') {
        //        $("#Image").addClass('errortext');
        //        $('#Image').focus();
        //        return false;
        //}
        if ($('#Description').val() == '') {
            $("#Description").addClass('errortext');
            $('#Description').focus();
            return false;
        }
    }
    
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>