@model Dost.Models.Master

@{
    ViewBag.Title = "ProductImageandTag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>
@using (Html.BeginForm("ProductImage", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <span style="color: red">
        @TempData["ProductImage"]
    </span>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Service Master
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>Service Type<span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.Fk_ProductId, new SelectList(ViewBag.ddlProduct, "Value", "Text"), new { @class = "form-control" })
                                @Html.HiddenFor(m => m.Fk_ProductId, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>Product Image<span style="color: red">*</span></label>
                                <input type="file" name="postedFile" id="Image" multiple />

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div id="preview"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="btn btn-success btn-sm" onclick="return validateform()" type="submit" value="Save" id="btn_Product" name="btn_Product" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">

                        <div class="col-md-12 table-responsive">

                            <table class="display nowrap table table-hover table-striped table-bordered dataTable no-footer" id="example23">
                                <thead>
                                    <tr>
                                        <th style="font-size: 10px;">Sr No.</th>
                                        <th style="font-size: 10px;">Product</th>
                                        <th style="font-size: 10px;">Product Image</th>
                                        <th style="font-size: 10px; text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lst != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lst)
                                            {
                                                <tr class="text-left">

                                                    <td>
                                                        @i
                                                    </td>
                                                    <td> @Item.Product</td>
                                                    <td><img src="@Item.EventImage" style="height:100px;width:100px;" /> </td>
                                                        <td style="font-size: 10px; text-align:center">
                                                            <a href="/AdminReports/Active?Pk_ServiceId=@Item.Pk_ProductImageId" style="align-content:center" class="btn btn-sm btn-success">Active</a>

                                                        </td>
                                             
                                                 

                                                </tr>
                                                i++;
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#Fk_ProductId').val() == 0) {
            $("#Fk_ProductId").addClass('errortext');
            $('#Fk_ProductId').focus();
            return false;
        }
        if ($('#postedFile').val() == ""
            ) {
            $("#postedFile").addClass('errortext');
            $('#postedFile').focus();
            return false;
        }
        return true;
    }
    function previewImages() {
        var preview = document.querySelector('#preview');
        if (this.files) {
            [].forEach.call(this.files, readAndPreview);
        }
        function readAndPreview(file) {

            // Make sure `file.name` matches our extensions criteria
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
            } // else...
            var reader = new FileReader();
            reader.addEventListener("load", function () {
                var image = new Image();
                image.height = 100;
                image.title = file.name;
                image.src = this.result;
                preview.appendChild(image);
            });
            reader.readAsDataURL(file);
        }

    }

    document.querySelector('#Image').addEventListener("change", previewImages);
 </script>
<style>
    #preview{
        display: flex;
    }
    #preview img{
        width: 85px;
        height: 85px;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        opacity: 85%;
        padding: 5px;
        margin: 1px;
    }
</style>