@model Dost.Models.Wallet

@{
    ViewBag.Title = "Statement";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@using (Html.BeginForm("Statement", "Wallet", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, welcome back!</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="/Wallet/Wallet">Wallet/Statement</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Statement</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="form-row">
                                    <div class="col-xl-3 col-lg-3 form-group">
                                        <div class="mb-3">
                                            <label class="mb-1 text-white fs-14">From Date</label>
                                       @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = true })
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 form-group">
                                        <div class="mb-3">
                                            <label class="mb-1 text-white fs-14">To Date</label>
                                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control",@readonly=true })
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 form-group">
                                        <div class="mb-3">
                                            <label class="mb-1 text-white fs-14">Income Type</label>
                                            <select class="form-control default-select" name="Fk_PlanId" id="Fk_PlanId">
                                                <option value="0">Select</option>
                                                <option value="1">Referral Income</option>
                                                <option value="2">Binary Income & Income On Income</option>
                                                <option value="3">Distributor Income</option>
                                                <option value="4">Referral Distributor Income</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 form-group">
                                        <div class="mb-3">
                                           
                                            <input type="submit" id="btnSearch" style="margin-top:29px;"  class="btn btn-info" name="Search" value="Search" />
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Sr No.</th>
                                                <th>Transaction Date</th>
                                                <th>Narration</th>
                                                <th>CrAmount</th>
                                                <th>DrAMount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstewalletledger != null)
                                                {
                                                    int i = 1;
                                                    foreach (var Item in Model.lstewalletledger)
                                                    {
                                                        <tr class="text-left">
                                                            <td>@i</td>

                                                            <td class="mb-1 text-white fs-14">@Item.AddedOn</td>
                                                            <td class="mb-1 text-white fs-14">@Item.Narration</td>
                                                            <td class="mb-1 text-white fs-14">@Item.CrAmount</td>
                                                            <td class="mb-1 text-white fs-14">@Item.DrAmount</td>
                                                            @*<td>@Item.EwalletBalance</td>*@

                                                        </tr>
                                                        i++;
                                                    }

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>
