@model Dost.Models.Wallet
@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<style>
    a:hover, a:focus, a.active {
        /* text-decoration: none; */
        color: #6d697a;
        background-color: #6647bf;
        /* border: 2
    px
     solid; */
    }

    [data-theme-version="dark"] .form-control {
        background-color: transparent;
        border-color: #dbd9e9;
        color: #fff;
    }

    [data-theme-version="dark"] .nav-tabs .nav-link:hover, [data-theme-version="dark"] .nav-tabs .nav-link.active {
        color: #fff;
        background: #6647bf;
        border-color: #462d8f;
    }
</style>
@using (Html.BeginForm("Wallet", "Wallet", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="content-body">
        <div class="container-fluid">
            <div class="form-head mb-sm-5 mb-3 d-flex align-items-center flex-wrap">
                <h2 class="font-w600 mb-0 mr-auto mb-2 text-black">My Wallet</h2>
                <a href="javascript:void(0);" class="btn btn-outline-secondary mr-3 mb-2"><i class="las la-calendar scale5 mr-2"></i>Filter Periode</a>
                <a href="javascript:void(0);" class="btn btn-secondary mb-2">+ Add Wallet</a>
            </div>
            <div class="row">
                <div class="col-xl-3 col-xxl-4">
                    <div class="" style="margin-top: 55px">
                        <!-- swiper-box -->
                        <div class="swiper-container card-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card-bx stacked card">
                                        <img src="/images/card/card1.jpg" alt="">
                                        <div class="card-info">
                                            <p class="mb-1 text-white fs-14">Dost Wallet</p>
                                            <div class="d-flex justify-content-between">
                                                <h2 class="num-text text-white mb-5 font-w600">₹ @ViewBag.DigiWalletBalance</h2>
                                                <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color:#fffefe54; width: 60px; height: 60px">
                                                    <span class="num-text text-white mb-5 font-w600">₹</span>
                                                </div>
                                            </div>

                                            <div class="d-flex">
                                                <div class="mr-6 text-white">
                                                    <p class="fs-12 mb-1 op6">Last Activation Date</p>
                                                    <span>@ViewBag.ActivationDate</span>
                                                </div>
                                                <div class="mr-4 text-white">
                                                    @*<p class="fs-12 mb-1 op6 ">BLAZE</p>
                                                        <span>3</span>*@
                                                </div>
                                                <div class="text-white">
                                                    <p class="fs-12 mb-1 op6">CARD HOLDER</p>
                                                    <span>@ViewBag.CardHolderName</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card-bx stacked card">
                                        <img src="/images/card/card4.jpg" alt="">
                                        <div class="card-info">
                                            <p class="mb-1 text-white fs-14">Coin Wallet</p>
                                            <div class="d-flex justify-content-between">
                                                <h2 class="num-text text-white mb-5 font-w600">₹ @ViewBag.DigiCoin</h2>
                                                <div class="text-center" style="border: 1px solid #ffffff; border-radius: 50%; padding: 10px; background-color: #fffefe54; width: 60px; height: 60px">
                                                    <span class="num-text text-white mb-5 font-w600">₹</span>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="mr-6 text-white">
                                                    <p class="fs-12 mb-1 op6">Activation Date</p>
                                                    <span>@ViewBag.DigiActivationDate</span>
                                                </div>
                                                <div class="mr-4 text-white">
                                                    @*<p class="fs-12 mb-1 op6 ">BLAZE</p>
                                                        <span>3</span>*@
                                                </div>
                                                <div class="text-white">
                                                    <p class="fs-12 mb-1 op6">CARD HOLDER</p>
                                                    <span>@ViewBag.DigiCardHolderName</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Scroll Bar -->
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-xxl-8">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="d-block d-sm-flex mb-4">
                                <h4 class="mb-0 text-black fs-20 mr-auto">Wallet Options</h4>
                                <div class="d-flex mt-sm-0">
                                    <a href="javascript:void(0);" class="btn-link mr-3 underline">Generate Number</a>
                                    <a href="javascript:void(0);" class="btn-link underline">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-end">
                                        <div class="col-xl-6 col-lg-12 col-xxl-12">
                                            <div class="row">
                                                <div class="col-sm-3 nav nav-tabs">
                                                    <div class="mb-4 nav-item">
                                                        <h4><a href="#AddFund" data-toggle="tab" class="text-black nav-link show active"><span class="badge badge-sm badge-primary fs-18" style="padding: 5px 12px"><i class="fa fa-inr text-white" aria-hidden="true"></i> </span> Add Fund</a></h4>
                                                    </div>
                                                    @*<div class="mb-4">
                                                            <h4><a data-toggle="tab" href="#TransferFund" class="text-black nav-link" ><span class="badge badge-sm badge-info fs-18"><i class="fa fa-exchange" aria-hidden="true"></i> </span> Transfer</a></h4>
                                                        </div>*@
                                                    <div class="mb-4">
                                                        <h4><a data-toggle="tab" href="#WithDrawl" class="text-black nav-link"><span class="badge badge-sm badge-secondary fs-18"><i class="fa fa-credit-card" aria-hidden="true"></i> </span> Withdraw</a></h4>
                                                    </div>
                                                    <div class="mb-4">
                                                        <h4><a target="_blank" href="/Wallet/Statement" class="nav-link"><span class="badge badge-sm badge-danger fs-18"><i class="fa fa-tasks" aria-hidden="true"></i> </span> Statement</a></h4>
                                                    </div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="tab-content">
                                                        <div id="AddFund" class="tab-pane fade active show">
                                                            <div class="swiper-container card-swiper">
                                                                <div class="swiper-wrapper">
                                                                    <div class="swiper-slide">
                                                                        <div class="card-bx stacked card">
                                                                            <img src="/images/card/card1.jpg" alt="">
                                                                            <div class="card-info">
                                                                                <div class="basic-form">
                                                                                    <div class="form-row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Login Id </label>
                                                                                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getmembername(this);", @Readonly = "true" ,@id="Login_Id"})
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Amount <span class="text-danger">*</span></label>
                                                                                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Payment Mode</label>
                                                                                                @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control default-select", @data_size = "7", @data_style = "select-with-transition", @onchange = "getpaymentdetails();" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Upload Document <span class="text-danger">*</span></label>
                                                                                                <input type="file" value="Upload" name="fileProfilePicture" id="fileupload" class="inputfile inputfile-2" accept="image/*" onchange="preview_image(event,'Q')" />
                                                                                                @*<img id="output_image3" class="text-right" style="width:50px;height:50px;margin-top: -16px;" />*@
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group" id="bankname" style="display: none">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14" id="lblbank">Bank Name </label><span class="text-danger">*</span>
                                                                                                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group" id="chequeno" style="display: none">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14" id="lbltno">Transaction No  </label><span class="text-danger">*</span>
                                                                                                @Html.TextBoxFor(m => m.DDChequeNo, new { @class = "form-control", @placeholder = "Transaction No" })
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="form-row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group" id="chequdate" style="display: none">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14" id="lbltno">Transaction Date </label><span class="text-danger">*</span>
                                                                                                @Html.TextBoxFor(m => m.DDChequeDate, new { @class = "form-control", @placeholder = "Transaction Date" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group" id="bankbranch" style="display: none">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Branch <span class="text-danger">*</span></label>
                                                                                                @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @placeholder = "Bank Branch" })
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-xl-12 col-lg-12 text-right">
                                                                                            <input class="btn btn-primary mb-2 px-5" id="btnAddFund" name="btnAddFund" onclick="return validateform();" type="submit" value="Wallet Request" />
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <!-- Add Scroll Bar -->
                                                                <div class="swiper-scrollbar"></div>
                                                            </div>
                                                        </div>
                                                        <div id="TransferFund" class="tab-pane fade">
                                                            <div class="swiper-container card-swiper">
                                                                <div class="swiper-wrapper">
                                                                    <div class="swiper-slide">
                                                                        <div class="card-bx stacked card">
                                                                            <img src="/images/card/card1.jpg" alt="">
                                                                            <div class="card-info">
                                                                                <div class="basic-form">
                                                                                    <div class="form-row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Wallet Balance</label>
                                                                                                @Html.TextBoxFor(m => m.EwalletBalance, new { @class = "form-control", @readonly = "true" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Mobile No. <span class="text-danger">*</span>  <span id="txtname" class="text-danger pull-right"></span></label>
                                                                                                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @maxlength = "10", @Placeholder = "Mobile No", @onchange = "getmembernamefortransfer(this);", @onkeypress = "return isNumberKey(event);" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Amount <span class="text-danger">*</span></label>
                                                                                                @Html.TextBoxFor(m => m.TransferAmount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 text-right">
                                                                                            <div class="mb-3">
                                                                                                <input class="btn btn-primary mb-2 px-5" onclick="return validateformTransfer()" type="submit" value="Transfer" id="btnTransfer" name="btnTransfer" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <!-- Add Scroll Bar -->
                                                                <div class="swiper-scrollbar"></div>
                                                            </div>
                                                        </div>
                                                        <div id="WithDrawl" class="tab-pane fade">
                                                            <div class="swiper-container card-swiper">
                                                                <div class="swiper-wrapper">
                                                                    <div class="swiper-slide">
                                                                        <div class="card-bx stacked card">
                                                                            <img src="/images/card/card1.jpg" alt="">
                                                                            <div class="card-info">
                                                                                <div class="basic-form">
                                                                                    <div class="form-row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Balance</label>
                                                                                                @Html.TextBoxFor(m => m.PayoutBalance, new { @class = "form-control", @Readonly = "true" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Mobile No. <span class="text-danger">*</span>  <span id="txtname" class="text-danger pull-right"></span></label>
                                                                                                @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @Readonly = "true" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">Amount <span class="text-danger">*</span></label>
                                                                                                @Html.TextBoxFor(m => m.WithDrawAmount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);" })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-xl-6 col-lg-6 form-group">
                                                                                            <div class="mb-3">
                                                                                                <label class="mb-1 text-white fs-14">&nbsp;<span class="text-danger"></span></label>
                                                                                                <input class="btn btn-primary mb-2 px-5" onclick="return validateformwithdraw()" type="submit" value="Withdrawl Request" id="btnWithdraw" name="btnWithdraw" style="margin-left:-26px" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <!-- Add Scroll Bar -->
                                                                <div class="swiper-scrollbar"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        @*<div class="col-xl-6 col-lg-12 col-xxl-12 mb-lg-0 mb-3">
                                                <p>Monthly Limits</p>
                                                <div class="row">
                                                    <div class="col-sm-4 mb-sm-0 mb-4 text-center">
                                                        <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                            <span class="donut1" data-peity='{ "fill": ["rgb(255, 104, 38)", "rgba(240, 240, 240)"],   "innerRadius": 40, "radius": 10}'>5/8</span>
                                                            <small>66%</small>
                                                        </div>
                                                        <h5 class="fs-18 text-black">Withdraw Limit</h5>
                                                        <span>$10,000</span>
                                                    </div>
                                                    <div class="col-sm-4 mb-sm-0 mb-4 text-center">
                                                        <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                            <span class="donut1" data-peity='{ "fill": ["rgb(29, 198, 36)", "rgba(240, 240, 240)"],   "innerRadius": 40, "radius": 10}'>4/9</span>
                                                            <small>31%</small>
                                                        </div>
                                                        <h5 class="fs-18 text-black">Transfer Limit</h5>
                                                        <span>$500</span>
                                                    </div>
                                                    <div class="col-sm-4 text-center">
                                                        <div class="d-inline-block position-relative donut-chart-sale mb-3">
                                                            <span class="donut1" data-peity='{ "fill": ["rgb(158, 158, 158)", "rgba(240, 240, 240)"],   "innerRadius": 40, "radius": 10}'>2/8</span>
                                                            <small>7%</small>
                                                        </div>
                                                        <h5 class="fs-18 text-black">Wallet Limit</h5>
                                                        <span>$100</span>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6  mt-4">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header pb-2 d-block d-sm-flex flex-wrap border-0">
                                    <div class="mb-3">
                                        <h4 class="fs-20 text-black">Wallet Activity</h4>
                                        @*<p class="mb-0 fs-13">Lorem ipsum dolor sit amet, consectetur</p>*@
                                    </div>
                                    <input type="hidden" id="Fk_UserId" name="Fk_UserId" value="@Model.Fk_UserId" class="form-control" />
                                    <div class="card-action card-tabs mb-3 style-1">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="javascript:void(0)" onclick="return getcFillterDate('Monthly');" id="Monthly">
                                                    Monthly
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="javascript:void(0)" onclick="return getcFillterDate('Weekly');" id="Weekly">
                                                    Weekly
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="javascript:void(0)" onclick="return getcFillterDate('Today');" id="Today">
                                                    Today
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body tab-content p-0">
                                    <div class="tab-pane active show fade" id="monthly">
                                        <div class="table-responsive">
                                            <table class="table shadow-hover card-table border-no tbl-btn short-one" id="table1">

                                                <tbody>
                                                    @if (Model != null)
                                                    {
                                                        if (Model.lstewalletledger != null)
                                                        {
                                                            int i = 1;
                                                            foreach (var Item in Model.lstewalletledger)
                                                            {
                                                                <tr>
                                                                    @if (Item.DrAmount == "0")

                                                                    {
                                                                        <td>
                                                                            <span>
                                                                                <svg width="50" height="50" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <rect width="63" height="63" rx="14" fill="#71B945" />
                                                                                    <path d="M40.6186 32.7207L40.6186 32.7207L40.6353 39.6289C40.6354 39.6328 40.6354 39.6363 40.6353 39.6396M40.6186 32.7207L40.1353 39.6341L40.6353 39.635C40.6353 39.6481 40.6347 39.6583 40.6345 39.6627L40.6344 39.6642C40.6346 39.6609 40.6351 39.652 40.6353 39.6407C40.6353 39.6403 40.6353 39.64 40.6353 39.6396M40.6186 32.7207C40.6167 31.9268 39.9717 31.2847 39.1777 31.2866C38.3838 31.2885 37.7417 31.9336 37.7436 32.7275L37.7436 32.7275L37.7519 36.1563M40.6186 32.7207L37.7519 36.1563M40.6353 39.6396C40.6329 40.4282 39.9931 41.0705 39.2017 41.0726C39.2 41.0726 39.1983 41.0727 39.1965 41.0727L39.1944 41.0727L39.1773 41.0726L32.2834 41.056L32.2846 40.556L32.2834 41.056C31.4897 41.054 30.8474 40.4091 30.8494 39.615C30.8513 38.8211 31.4964 38.179 32.2903 38.1809L32.2903 38.1809L35.719 38.1892L22.5364 25.0066C21.975 24.4452 21.975 23.5351 22.5364 22.9737C23.0978 22.4123 24.0079 22.4123 24.5693 22.9737L37.7519 36.1563M40.6353 39.6396C40.6353 39.6376 40.6353 39.6356 40.6353 39.6336L37.7519 36.1563M39.1964 41.0726C39.1957 41.0726 39.1951 41.0726 39.1944 41.0726L39.1964 41.0726Z" fill="white" stroke="white" />
                                                                                </svg>
                                                                            </span>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            <span>
                                                                                <svg width="50" height="50" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <rect width="63" height="63" rx="14" fill="#FF5757" />
                                                                                    <path d="M22.1318 30.9043L22.1318 30.9043L22.1151 23.9961C22.1151 23.9922 22.1151 23.9887 22.1152 23.9854M22.1318 30.9043L22.6152 23.9909L22.1152 23.99C22.1152 23.9769 22.1157 23.9667 22.116 23.9623L22.1161 23.9608C22.1159 23.9641 22.1154 23.973 22.1152 23.9843C22.1152 23.9847 22.1152 23.985 22.1152 23.9854M22.1318 30.9043C22.1338 31.6982 22.7788 32.3403 23.5728 32.3384C24.3667 32.3365 25.0088 31.6914 25.0069 30.8975L25.0069 30.8975L24.9986 27.4687M22.1318 30.9043L24.9986 27.4687M22.1152 23.9854C22.1176 23.1968 22.7574 22.5545 23.5488 22.5524C23.5504 22.5524 23.5522 22.5523 23.554 22.5523L23.5561 22.5523L23.5732 22.5524L30.4671 22.569L30.4658 23.069L30.4671 22.569C31.2608 22.571 31.903 23.2159 31.9011 24.01C31.8992 24.8039 31.2541 25.446 30.4602 25.4441L30.4602 25.4441L27.0315 25.4358L40.2141 38.6184C40.7755 39.1798 40.7755 40.0899 40.2141 40.6513C39.6527 41.2127 38.7426 41.2127 38.1812 40.6513L24.9986 27.4687M22.1152 23.9854C22.1152 23.9874 22.1152 23.9894 22.1152 23.9914L24.9986 27.4687M23.5541 22.5524C23.5547 22.5524 23.5554 22.5524 23.5561 22.5524L23.5541 22.5524Z" fill="white" stroke="white" />
                                                                                </svg>
                                                                            </span>
                                                                        </td>
                                                                    }
                                                                    <td class="wspace-no">
                                                                        <span class="font-w600 text-black">&nbsp;</span>
                                                                    </td>
                                                                    @if (Item.DrAmount == "0")
                                                                    {
                                                                        <td>
                                                                            <span class="font-w600 text-black">₹  @Item.CrAmount</span>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            <span class="font-w600 text-black">₹  @Item.DrAmount</span>
                                                                        </td>
                                                                    }
                                                                    <td>
                                                                        <span class="text-black">@Item.AddedOn</span>
                                                                    </td>
                                                                    <td><span class="float-right" href="javascript:void(0);">@Item.Narration</span></td>
                                                                </tr>


                                                            }
                                                            i = i + 1;
                                                        }
                                                    }


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                @if (Model != null)
                                {
                                    if (Model.lstewalletledger != null)
                                    {
                                        <div class="card-footer border-0 p-0 caret" id="divcaret">
                                            <a href="/Wallet/Statement" class="btn-link mt-1"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-4">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header d-sm-flex d-block pb-0 border-0">
                                    @*<div>
                                            <h4 class="fs-20 text-black">Quick Transfer</h4>
                                            <p class="mb-0 fs-12">Lorem ipsum dolor sit amet, consectetur</p>
                                        </div>*@
                                    <div class="dropdown custom-dropdown d-block mt-3 mt-sm-0 mb-0">
                                        @* <div class="btn btn-light d-flex align-items-center svg-btn" role="button" data-toggle="dropdown" aria-expanded="false">
                                            <!-- <svg class="mr-2" width="25" height="25" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M21 0C9.40213 0 0.00012207 9.40201 0.00012207 20.9999C0.00012207 32.5978 9.40213 41.9998 21 41.9998C32.5979 41.9998 41.9999 32.5978 41.9999 20.9999C41.9867 9.4075 32.5924 0.0132751 21 0ZM28.5 31.5001H16.5002C15.6717 31.5001 15.0001 30.8286 15.0001 30C15.0001 29.929 15.0052 29.8581 15.0152 29.7876L16.1441 21.8843L13.864 22.4547C13.7449 22.4849 13.6227 22.5 13.5 22.5C12.6715 22.4991 12.0009 21.8271 12.0013 20.9985C12.0022 20.311 12.4701 19.7122 13.137 19.5447L16.6018 18.6786L18.015 8.78723C18.1321 7.96692 18.892 7.39746 19.7123 7.51465C20.5327 7.63184 21.1021 8.39172 20.9849 9.21204L19.7444 17.8931L25.1364 16.545C25.9388 16.3403 26.755 16.8251 26.9592 17.6276C27.1638 18.43 26.679 19.2462 25.8766 19.4508C25.872 19.4518 25.8674 19.4531 25.8629 19.454L19.2857 21.0983L18.2287 28.4999H28.5C29.3286 28.4999 30.0001 29.1714 30.0001 30C30.0001 30.8281 29.3286 31.5001 28.5 31.5001Z" fill="#5974D5"/>
                                            </svg> -->
                                            <span class="text-black fs-16">23,511 LTC</span>*@
                                        @*<i class="fa fa-angle-down text-black scale3 ml-2"></i>
                                            </div>*@
                                        @*<div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">345,455 ETH</a>
                                                <a href="#" class="dropdown-item ">789,123 BTH</a>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form type="POST" id="form2">
                                        <div class="form-wrapper">
                                            <div class="form-group">
                                                <div class="input-group input-group-lg">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="input-group-text dropdown-toggle" data-toggle="dropdown">
                                                            Amount INR
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a href="#" class="dropdown-item">Amount INR</a>
                                                            <a href="#" class="dropdown-item">Amount Dost Coin</a>
                                                        </div>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.WalletAmount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);", @onchange = "return ShowDiv()" })
                                                    &nbsp;&nbsp;
                                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @maxlength = "10", @Placeholder = "Mobile No", @onchange = "getmembernamefortransfer(this);", @onkeypress = "return isNumberKey(event);", @style = "display:none" })
                                                    @*<input type="text" class="form-control" placeholder="">*@
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex mb-3 justify-content-between align-items-center">
                                        <h4 class="text-black fs-20 mb-0">Recent Contacts</h4>
                                        <a href="javascript:void(0);" class="btn-link">View more</a>
                                    </div>
                                    <div class="testimonial-one px-4 owl-right-nav owl-carousel owl-loaded owl-drag">
                                        @if (Model != null)
                                        {
                                            if (Model.lstUser != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstUser)
                                                {
                                                    <div class="items" onclick="return fillvalue(@Item.Mobile)">
                                                        <div class="text-center">
                                                            <img class="mb-3 rounded" src="@Item.ProfilePic" alt="">
                                                            <h6 class="mb-0" @*style="font-size:0.738rem"*@><a class="text-black" href="javascript:void(0);">@Item.DisplayName</a></h6>
                                                            <span class="fs-12">@Item.Mobile</span>
                                                        </div>
                                                    </div>
                                                    i = i + 1;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="row pt-5 align-items-center">
                                        @*<div class="col-sm-6 mb-2">
                                                <p class="mb-0 fs-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                                            </div>*@
                                        <div class="col-sm-6 mb-2">
                                            <input class="btn btn-secondary d-block btn-lg float-right" onclick="return validateAmountTransfer()" type="button" value="TRANSFER NOW" id="btnQuickTransfer" name="btnQuickTransfer" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/js/dashboard/my-wallet.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

@if (TempData["Ewallet"] != null)
{
    if (TempData["Wallet"] == "Yes")
    {
        <script>

            $(document).ready(function () {
                toastr.success("@TempData["Ewallet"]", "", {
                    positionClass: "toast-top-right",
                    timeOut: 5e3,
                    closeButton: !0,
                    debug: !1,
                    newestOnTop: !0,
                    progressBar: !0,
                    preventDuplicates: !0,
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: !1
                })
            }
        )
        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                toastr.error("@TempData["Ewallet"]", "", {
                    positionClass: "toast-top-right",
                    timeOut: 5e3,
                    closeButton: !0,
                    debug: !1,
                    newestOnTop: !0,
                    progressBar: !0,
                    preventDuplicates: !0,
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut",
                    tapToDismiss: !1
                })
            }
        )
        </script>
    }
}
<script>
    $(document).ready(function () {
        $('h4 a.text-black').click(function (e) {
            $('h4 a.text-black').removeClass('show active');
            var $parent = $(this).parent();
            $parent.addClass('show active');
            e.preventDefault();
        });
    });
    function ShowDiv() {
        $('#Mobile').show();
    }
    function fillvalue(evt) {
        debugger;
        $('#Mobile').val(evt);
        $('#Mobile').show();
    }
    $('#DDChequeDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function getpaymentdetails() {
        debugger;
        var paymentmode = ($("#PaymentMode option:selected").text());
        if (paymentmode != "Cash" && paymentmode != "UPI") {

            bankname.style.display = "block";
            chequeno.style.display = "block";
            chequdate.style.display = "block";
            bankbranch.style.display = "block";
            $("#BankName").attr("placeholder", "Bank Name");
            $("#lblbank").html('Bank Name');
        }
        else if(paymentmode == "UPI")
        {
          
            bankname.style.display = "block";
            chequeno.style.display = "block";
            chequdate.style.display = "block";
            $("#BankName").attr("placeholder", "UPI Id");
            $("#lblbank").html('UPI Id');
        }
        else {
            bankname.style.display = "none";
            chequeno.style.display = "none";
            chequdate.style.display = "none";
            bankbranch.style.display = "none";
        }
    }
    function preview_image(event, mode) {
        debugger;


        if (mode == 'Q') {
            var reader = new FileReader();
            reader.onload = function () {
                debugger;
                var output = document.getElementById('output_image3');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    }
    function validateform() {
        debugger;
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if (($("#PaymentMode option:selected").text()) != 'Cash') {
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                return false;
            }
            if ($('#DDChequeNo').val() == '') {
                $("#DDChequeNo").addClass('errortext');
                $('#DDChequeNo').focus();
                return false;
            }
            if ($('#DDChequeDate').val() == '') {
                $("#DDChequeDate").addClass('errortext');
                $('#DDChequeDate').focus();
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                return false;
            }
        }
        var formData = new FormData();
        formData.append("LoginId", $("#Login_Id").val());
        formData.append("Amount", $("#Amount").val());
        $.ajax({
            url: "/Wallet/AddFund",
            type: "POST",
            dataType: "JSON",
            data: { LoginId: $("#Login_Id").val(), Amount: $("#Amount").val(), PaymentMode: $("#PaymentMode").val() },
            success: function (data) {
                if (data != null) {
                    if (data.Result == "Yes") {
                        toastr.success("Fund requested successfully ", "", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                    else {
                        toastr.error(data.Result, "", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                }
            }
        });
        //var status = $('#status');
        //var preloader = $('#preloader');
        //var body = $('body');
        //status.fadeIn();
        //preloader.delay(0).fadeIn('fast');
        //body.delay(0).css({ 'overflow': 'visible' });
        return true;

    }
    function getmembername() {
        debugger;
        var LoginId = $('#LoginId').val();
        $.ajax({
            url: '/Wallet/GetMemberName',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: LoginId },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);

                    divname.style.display = "block";
                } else {
                    iziToast.error({
                        title: "",
                        message: "Invalid Sponser Id",
                        position: "topRight",
                    });
                    //alert("Invalid Sponser Id");
                    $('#txtname').html("");
                    $('#LoginId').val("");

                }
            }
        });
    }
    function validateformTransfer() {
        $(".errortext").removeClass("errortext");
        if ($('#EwalletBalance').val() == '0') {
            $("#EwalletBalance").addClass('errortext');
            $('#EwalletBalance').focus();
            return false;
        }
        if ($('#MobileNo').val() == '') {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }
        if ($('#TransferAmount').val() == '') {
            $("#TransferAmount").addClass('errortext');
            $('#TransferAmount').focus();
            return false;
        }
        if ($('#TransferAmount').val() == '0') {
            $('#TransferAmount').val('');
            $("#TransferAmount").addClass('errortext');
            $('#TransferAmount').focus();
            return false;
        }
    }
    function validateAmountTransfer() {
        debugger
        $(".errortext").removeClass("errortext");
        if ($('#WalletAmount').val() == '') {
            $("#WalletAmount").addClass('errortext');
            $('#WalletAmount').focus();
            return false;
        }
        if ($('#WalletAmount').val() == '0') {
            $('#WalletAmount').val('');
            $("#WalletAmount").addClass('errortext');
            $('#WalletAmount').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
    }
    function getmembernamefortransfer() {
        var MobileNo = $('#MobileNo').val();
        $.ajax({
            url: '/Wallet/GetMemberNameByMobileNo',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: MobileNo },
            success: function (data) {
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);
                    //divname.style.display = "block";
                } else {
                    $(document).ready(function () {
                        toastr.error("Invalid Login Id ", "", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                )
                    $('#txtname').html("");
                    $('#MobileNo').val("");

                }
            }
        });
    }
    function validateformwithdraw() {
        debugger
        $(".errortext").removeClass("errortext");
        if ($('#PayoutBalance').val() == '') {
            $("#PayoutBalance").addClass('errortext');
            $('#PayoutBalance').focus();
            return false;
        }
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#WithDrawAmount').val() == '') {
            $("#WithDrawAmount").addClass('errortext');
            $('#WithDrawAmount').focus();
            return false;
        }
        $.ajax({
            url: "/Wallet/SavePayoutRequest",
            type: "POST",
            dataType: "JSON",
            data: { LoginId: $("#LoginId").val(), Amount: $("#WithDrawAmount").val() },
            success: function (data) {
                if (data != null) {
                    if (data.Result == "Yes") {
                        toastr.success("Withdraw requested successfully ", "", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                    else {
                        toastr.error(data.Result, "", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                }
            }
        });
        return true;
    }
    function getcFillterDate(TypeDate) {
        if (TypeDate == "Monthly") {
            $("#Monthly").addClass("active");
            $("#Weekly").removeClass("active");
            $("#Today").removeClass("active");
        }
        else if (TypeDate == "Weekly") {
            $("#Weekly").addClass("active");
            $("#Monthly").removeClass("active");
            $("#Today").removeClass("active");
        }
        else if (TypeDate == "Today") {
            $("#Weekly").removeClass("active");
            $("#Monthly").removeClass("active");
            $("#Today").addClass("active");
        }
        debugger
        $.ajax({
            url: '/Wallet/ApplyFiterForWalletActivity',
            type: "GET",
            dataType: "JSON",
            data: { TypeDate: TypeDate },
            success: function (data) {
                debugger;
                $("#table1").html('');
                if (data.Result == "Yes") {
                    if (data.lstewalletledger != null) {
                        for (var i = 0 ; i < data.lstewalletledger.length; i++) {
                            debugger;
                            if (data.lstewalletledger[i].DrAmount == '0') {
                                $("#table1").append("<tr><td><span><svg width='50' height='50' viewBox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='63' height='63' rx='14' fill='#71B945' /><path d='M40.6186 32.7207L40.6186 32.7207L40.6353 39.6289C40.6354 39.6328 40.6354 39.6363 40.6353 39.6396M40.6186 32.7207L40.1353 39.6341L40.6353 39.635C40.6353 39.6481 40.6347 39.6583 40.6345 39.6627L40.6344 39.6642C40.6346 39.6609 40.6351 39.652 40.6353 39.6407C40.6353 39.6403 40.6353 39.64 40.6353 39.6396M40.6186 32.7207C40.6167 31.9268 39.9717 31.2847 39.1777 31.2866C38.3838 31.2885 37.7417 31.9336 37.7436 32.7275L37.7436 32.7275L37.7519 36.1563M40.6186 32.7207L37.7519 36.1563M40.6353 39.6396C40.6329 40.4282 39.9931 41.0705 39.2017 41.0726C39.2 41.0726 39.1983 41.0727 39.1965 41.0727L39.1944 41.0727L39.1773 41.0726L32.2834 41.056L32.2846 40.556L32.2834 41.056C31.4897 41.054 30.8474 40.4091 30.8494 39.615C30.8513 38.8211 31.4964 38.179 32.2903 38.1809L32.2903 38.1809L35.719 38.1892L22.5364 25.0066C21.975 24.4452 21.975 23.5351 22.5364 22.9737C23.0978 22.4123 24.0079 22.4123 24.5693 22.9737L37.7519 36.1563M40.6353 39.6396C40.6353 39.6376 40.6353 39.6356 40.6353 39.6336L37.7519 36.1563M39.1964 41.0726C39.1957 41.0726 39.1951 41.0726 39.1944 41.0726L39.1964 41.0726Z' fill='white' stroke='white' /></svg></span></td><td class='wspace-no'><span class='font-w600 text-black'>&nbsp;</span></td><td><span class='font-w600 text-black'>₹ " + data.lstewalletledger[i].CrAmount + "</span></td><td><span class='font-w600 text-black'>₹ " + data.lstewalletledger[i].DrAmount + "</span></td> <td><span class='text-black'>" + data.lstewalletledger[i].AddedOn + "</span></td><td><span class='float-right' href='javascript:void(0);'>" + data.lstewalletledger[i].Narration + "</span></td></tr>");
                            }
                            else {
                                $("#table1").append("<tr><td><span><svg width='50' height='50' viewBox='0 0 63 63' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='63' height='63' rx='14' fill='#FF5757' /><path d='M22.1318 30.9043L22.1318 30.9043L22.1151 23.9961C22.1151 23.9922 22.1151 23.9887 22.1152 23.9854M22.1318 30.9043L22.6152 23.9909L22.1152 23.99C22.1152 23.9769 22.1157 23.9667 22.116 23.9623L22.1161 23.9608C22.1159 23.9641 22.1154 23.973 22.1152 23.9843C22.1152 23.9847 22.1152 23.985 22.1152 23.9854M22.1318 30.9043C22.1338 31.6982 22.7788 32.3403 23.5728 32.3384C24.3667 32.3365 25.0088 31.6914 25.0069 30.8975L25.0069 30.8975L24.9986 27.4687M22.1318 30.9043L24.9986 27.4687M22.1152 23.9854C22.1176 23.1968 22.7574 22.5545 23.5488 22.5524C23.5504 22.5524 23.5522 22.5523 23.554 22.5523L23.5561 22.5523L23.5732 22.5524L30.4671 22.569L30.4658 23.069L30.4671 22.569C31.2608 22.571 31.903 23.2159 31.9011 24.01C31.8992 24.8039 31.2541 25.446 30.4602 25.4441L30.4602 25.4441L27.0315 25.4358L40.2141 38.6184C40.7755 39.1798 40.7755 40.0899 40.2141 40.6513C39.6527 41.2127 38.7426 41.2127 38.1812 40.6513L24.9986 27.4687M22.1152 23.9854C22.1152 23.9874 22.1152 23.9894 22.1152 23.9914L24.9986 27.4687M23.5541 22.5524C23.5547 22.5524 23.5554 22.5524 23.5561 22.5524L23.5541 22.5524Z' fill='white' stroke='white' /></svg></span></td><td class='wspace-no'><span class='font-w600 text-black'>&nbsp;</span></td><td><span class='font-w600 text-black'>₹ " + data.lstewalletledger[i].CrAmount + "</span></td><td><span class='font-w600 text-black'>₹ " + data.lstewalletledger[i].DrAmount + "</span></td> <td><span class='text-black'>" + data.lstewalletledger[i].AddedOn + "</span></td><td><span class='float-right' href='javascript:void(0);'>" + data.lstewalletledger[i].Narration + "</span></td></tr>");
                            }
                        }
                    }
                    else {
                        $("#table1").append("<tr><td><span class='text-black'>No Record Found</span></td></tr>");
                        $("#divcaret").hide();
                    }
                }
                else {
                    $("#table1").append("<tr><td><span class='text-black'>No Record Found</span></td></tr>");
                    $("#divcaret").hide();
                }
                //else {
                //    $("#First_NM").val('');
                //    $("#Pan_Card").val('');
                //    $("#DOB_Dt").val('');
                //    $("#Pan_Card").addClass('errortext');

                //    alert(data.Result);

                //}
            }
        });
    }

    $("#btnQuickTransfer").click(function () {
        debugger;
        $.ajax({
            url: '/Wallet/QuickTransferEwallet',
            type: "POST",
            dataType: "JSON",
            data: { Mobile: $("#Mobile").val(), Amount: $("#WalletAmount").val() },
            success: function (data) {
                if (data.Result == "Yes") {
                    toastr.success("Amount transferred successfully ", "", {
                        positionClass: "toast-top-right",
                        timeOut: 5e3,
                        closeButton: !0,
                        debug: !1,
                        newestOnTop: !0,
                        progressBar: !0,
                        preventDuplicates: !0,
                        onclick: null,
                        showDuration: "300",
                        hideDuration: "1000",
                        extendedTimeOut: "1000",
                        showEasing: "swing",
                        hideEasing: "linear",
                        showMethod: "fadeIn",
                        hideMethod: "fadeOut",
                        tapToDismiss: !1
                    })
                }
                else {
                    toastr.error(data.Result, "", {
                        positionClass: "toast-top-right",
                        timeOut: 5e3,
                        closeButton: !0,
                        debug: !1,
                        newestOnTop: !0,
                        progressBar: !0,
                        preventDuplicates: !0,
                        onclick: null,
                        showDuration: "300",
                        hideDuration: "1000",
                        extendedTimeOut: "1000",
                        showEasing: "swing",
                        hideEasing: "linear",
                        showMethod: "fadeIn",
                        hideMethod: "fadeOut",
                        tapToDismiss: !1
                    })
                }
            }
        });
    })
</script>
