@model Dost.Models.Master

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                <i class="clip-home-3"></i>
                <a href="#">
                    Change
                </a>
            </li>
            <li class="active">
                Password
            </li>

        </ol>
    </div>
</div>
<br />

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{ <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Change Password
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-12">
                          

                                    <div class="basic-form">
                                        <div class="form-row">

                                            <div class="col-xl-3 col-lg-3 form-group">
                                                <div class="mb-3">
                                                    <label class="mb-1 text-white fs-14">Old Password</label>
                                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 form-group">
                                                <div class="mb-3">
                                                    <label class="mb-1 text-white fs-14">New Password</label>
                                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 form-group">
                                                <div class="mb-3">
                                                    <label class="mb-1 text-white fs-14">Confirm Password</label>
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @onchange = "return validateConfirmPassword();" })
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 form-group">
                                                <br />
                                                <div class="mb-3">
                                                    <input class="btn btn-info" type="submit" value="change" id="btnUpdate" name="btnUpdate" onclick="return validate();">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                              
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
            }
            <style>
                .errortext {
                    border: 1px solid red !important;
                    background-color: #3b3363 !important;
                }
            </style>
            <script src="~/vendor/jquery/jquery.min.js"></script>
            <script>
                function validateConfirmPassword() {
                    var password = $('#NewPassword').val();
                    var ConfirmPassword = $('#ConfirmPassword').val();
                    if (password != ConfirmPassword) {
                        $(document).ready(function () {
                            toastr.error("Password and Confirm Password are different", "error", {
                                positionClass: "toast-top-right",
                                timeOut: 5e3,
                                closeButton: !0,
                                debug: !1,
                                newestOnTop: !0,
                                progressBar: !0,
                                preventDuplicates: !0,
                                onclick: null,
                                showDuration: "300",
                                hideDuration: "1000",
                                extendedTimeOut: "1000",
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut",
                                tapToDismiss: !1
                            })
                        }
                                )

                        $("#NewPassword").addClass('errortext');
                        $("#ConfirmPassword").addClass('errortext');
                        $('#NewPassword').val('');
                        $('#ConfirmPassword').val('');
                        return false;
                    }
                }
                function validate() {
                    debugger
                    $(".errortext").removeClass("errortext");
                    //if ($('#PasswordType').val() == '0') {
                    //    $("#PasswordType").addClass('errortext');
                    //    $('#PasswordType').focus();
                    //    return false;
                    //}
                    if ($('#OldPassword').val() == '') {
                        $("#OldPassword").addClass('errortext');
                        $('#OldPassword').focus();
                        return false;
                    }
                    if ($('#NewPassword').val() == '') {
                        $("#NewPassword").addClass('errortext');
                        $('#NewPassword').focus();
                        return false;
                    }
                    if ($('#ConfirmPassword').val() == '') {
                        $("#ConfirmPassword").addClass('errortext');
                        $('#ConfirmPassword').focus();
                        return false;
                    }
                }
            </script>
            @if (TempData["ChangePassword"] != null)
            {
                if (TempData["ChangePassword"] == "Password updated successfully..")
                {
                    <script>
                        debugger;
                        $(document).ready(function () {
                            toastr.success("@TempData["ChangePassword"]", "success", {
                                positionClass: "toast-top-right",
                                timeOut: 5e3,
                                closeButton: !0,
                                debug: !1,
                                newestOnTop: !0,
                                progressBar: !0,
                                preventDuplicates: !0,
                                onclick: null,
                                showDuration: "300",
                                hideDuration: "1000",
                                extendedTimeOut: "1000",
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut",
                                tapToDismiss: !1
                            })
                        }
                            )
                        debugger;
                        window.location.href = "/Home/AdminLogin";
                    </script>
                }
            }
            @if (TempData["ChangePasswordError"] != null)
            {
                <script>
                    debugger;
                    $(document).ready(function () {
                        toastr.error("@TempData["ChangePasswordError"]", "error", {
                            positionClass: "toast-top-right",
                            timeOut: 5e3,
                            closeButton: !0,
                            debug: !1,
                            newestOnTop: !0,
                            progressBar: !0,
                            preventDuplicates: !0,
                            onclick: null,
                            showDuration: "300",
                            hideDuration: "1000",
                            extendedTimeOut: "1000",
                            showEasing: "swing",
                            hideEasing: "linear",
                            showMethod: "fadeIn",
                            hideMethod: "fadeOut",
                            tapToDismiss: !1
                        })
                    }
                             )
                </script>
            }

